[Unit]
Description=stats-api-bnbsov
Wants=nginx.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/stats-api-bnbsov
ExecStart=/home/ubuntu/stats-api-bnbsov/run.sh sinatra
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
